<h1><%= @user.name.capitalize() + "'s" %> Tasks</h1>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description&nbsp;&nbsp;|&nbsp;&nbsp;Completed&nbsp;&nbsp;|&nbsp;&nbsp;Action</h4>
<ul>
<% @tasks.each do |task| %>
    <li>
        <p><%= task.description %>&nbsp;&nbsp;|&nbsp;&nbsp;
        <%if task.completed %>
            ✔
        <% else %>
            ✖           
        <% end %>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;

        <%= link_to "Edit", edit_task_path(task)%>&nbsp;|
        <%= link_to "Delete", task,
         method: :delete,
         data: {confirm: "Are you sure?"}
         %>
        </p>
    </li>
<% end %>
</ul>
<br/>

<%= link_to  "Add Task", :new_user_task %>

