<h2>New Task</h2>

<%= form_with model: [@user,@user.tasks.build] do |f| %>

<div>
<%= f.label :description %><br />
<%= f.text_field :description %>
</div><br/>


<div>
<%= f.label :completed %>
<%= f.check_box :completed %>
</div>

<br/>
<br/>

<div>
<%= f.submit "Add" %>
</div>
<% end %>

