<!DOCTYPE html>
<html>
  <head>
    <title>Week1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br/>
  <%= link_to "Homepage", :root %>

  <% if signed_in? %>
    &nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to :Account, @user %>
    &nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Logout", destroy_user_session_path, method: :delete%>
  <% end %>
  
    <%= yield %>
  </body>
</html>
